


.info-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
  }

  .title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 12px;
    row-gap: 5px;
    flex-wrap: wrap;
    h3 {
      margin: 0;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .card-list-text{
    font-weight: 600;
     color: gray;
   }
   
   .badgeService {
     color: #1b1b1b;
     font-size: 15px;
     font-weight: 400;
     padding: 4px 10px;
     padding-left: 0;
     max-width: 50dvw;
     .serviceName{
       @extend .card-list-text;
     }
   }
   ion-toolbar{
    --background : inherit;
   }

   ion-toolbar ion-searchbar {
    padding-bottom : 0px;
    padding-right: 0px;
    padding-left:  0px;
    
    }


.badgeCustom {
    color: #4B5563;
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 20px;
    font-weight: 500;
    align-self: center;
    align-items: center;
    display: flex;
  }


  .paid{
    background: #dcfce7;
    color: #008236;
  }

  .Due{
    background: #ffe2e2;
    color: #c10007;
  }
  .p-paid{
    background: #ffedd4;
    color: #ca3500;
  }
  .genderIcon{
    font-size: 12px;
  }

.custom-small{
  --padding-top : 10px;
  --padding-bottom : 10px;
}


.new {
  @extend .badgeCustom;
  background: #e3dfdf;
  color: #696969;
}

.partial-tested {
  @extend .badgeCustom;
  background:
    linear-gradient(#d0cbc9, #fad1b5) padding-box,
    linear-gradient(to right, #b7b6b6 30%, #fb9d4d 99%) border-box;
  border: 2px solid transparent;
  color: #e8670b;
}
//#fef9c2
//#a65f00

.tested {
  @extend .badgeCustom;
  background: #ffd8be;
  color: #bf5001;
}

.partial-tested-approved {
  @extend .badgeCustom;
  color: #08b408;
  background:
    linear-gradient(#bbe4bb, #aaf3aa) padding-box,
    linear-gradient(to right, #b7b6b6 7%, #fb9d4d 46%, #05cf05 99%) border-box;
  border: 2px solid transparent;
  //text-shadow: 1px 1px 0px rgb(106, 106, 106);
}

.partial-approved {
  @extend .badgeCustom;
  background:
    linear-gradient(#daffda, #aaf3aa) padding-box,
    linear-gradient(to right, #b7b6b6 38%, #05cf05 99%) border-box;
  border: 2px solid transparent;
  color: #008000;
}

.will-not-receive {
  @extend .badgeCustom;
  background: #0b410b;
  color: white;
}

.approved {
  @extend .badgeCustom;
  background: #bbe4bb;
  color: #054905;
}