


.info-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
  }

  .title-row {
    display: flex;
    align-items: center;
    column-gap: 12px;
    row-gap: 5px;
    flex-wrap: wrap;
    h3 {
      margin: 0;
      font-size: 18px;
      font-weight: 600;
    }
  
    h2 {
      font-weight: 600;
    }
  }

  .card-list-text{
    font-weight: 600;
     color: gray;
   }
   
   .badgeService {
     color: #1b1b1b;
     font-size: 15px;
     font-weight: 400;
     padding: 4px 10px;
     padding-left: 0;
     max-width: 50dvw;
     .serviceName{
       @extend .card-list-text;
     }
   }
   ion-toolbar{
    --background : inherit;
   }

   ion-toolbar ion-searchbar {
    padding-bottom : 0px;
    padding-right: 0px;
    padding-left:  0px;
    
    }


.badgeCustom {
    background: #e3dfdf;
    color: #696969;
    font-size: 14px;
    padding: 2px 10px;
    border-radius: 20px;
    font-weight: 600;
    align-self: center;
  }

  .tested {
    @extend .badgeCustom;
    background: #f9edba;
    color: #b86302;
  }
  

  .approved {
    @extend .badgeCustom;
    background: #bbe4bb;
    color: #008000;
  }
