<ion-content class="ion-padding">
    <div class="card border-card p-3">
        <div class="d-flex justify-content-start align-items-center mb-2">
            <div class="w-20 h-20 rounded-circle bg-blue-100">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-user w-10 h-10 text-blue-600"
                    data-fg-cnbm6="3.29:42.1820:/src/app/pages/Profile.tsx:219:15:6639:44:e:User::::::wpV">
                    <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                </svg>
            </div>
            <div class="ms-3">
                <div class="text-xl text-gray-900 font-700">
                    {{ sharedService.labCartPatientObj.PatientName }}
                </div>
                @if(sharedService.labCartPatientObj.Mobile){
                <div class="text-gray-600 font-500 text-sm">
                    <ion-icon name="call-outline"></ion-icon>
                    {{ sharedService.labCartPatientObj.Mobile }}
                </div>
                }
                @if(sharedService.labCartPatientObj.EmailId){
                <div class="text-gray-600 font-500 text-sm">
                    <ion-icon name="mail-outline"></ion-icon>
                    {{ sharedService.labCartPatientObj.EmailId }}
                </div>
                }

            </div>
        </div>
        <div class="bg-blue-50 border-blue-200 rounded-2 px-4 py-3 d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <ion-icon name="card-outline"></ion-icon>
                <div class="ms-2 font-600">
                    <p class="text-xs text-blue-600 m-0">Membership ID</p>
                    <p class="text-sm text-blue-900 m-0">{{ sharedService.labCartPatientObj.MembershipId }}</p>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <ion-icon name="person-outline"></ion-icon>
                <div class="ms-2 font-600">
                    <p class="text-xs text-blue-600 m-0">Patient ID</p>
                    <p class="text-sm text-blue-900 m-0">{{ sharedService.labCartPatientObj.PatientId }}</p>
                </div>
            </div>
        </div>

    </div>
    <div class="card border-card p-3">
        <ion-segment value="default" [scrollable]="true" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="default" content-id="default">
                <ion-label>My Profile</ion-label>
            </ion-segment-button>
            <ion-segment-button value="members" content-id="members">
                <ion-label>Family Members</ion-label>
            </ion-segment-button>
            <ion-segment-button value="address" content-id="address">
                <ion-label>Addresses</ion-label>
            </ion-segment-button>
            <ion-segment-button value="security" content-id="security">
                <ion-label>Security</ion-label>
            </ion-segment-button>
        </ion-segment>
        <ion-segment-view>
            <ion-segment-content id="default" >
                <ion-row>
                    <ion-col size="12">
                        <div class="d-flex justify-content-between mb-1">
                            <h2 class="text-xl font-700 text-gray-900">Personal Information</h2>
                            @if(!IsPInfoEdit){
                                <ion-button color="primary" size="small" fill="clear" (click)="onPEEdit()">
                                    <ion-icon slot="icon-only" name="pencil-outline" ></ion-icon>
                                </ion-button>
                                }
                        </div>
                    </ion-col>
                    @if(IsPInfoEdit){
                    <ion-col size="12">
                        <ion-select name="RegistrationBranchId1" [(ngModel)]="sharedService.labCartPatientObj.TitleId" required="true"
                            interface="modal" mode="md" (ionChange)="onTitleChange()" labelPlacement="stacked" [disabled]="!IsPInfoEdit"
                            fill="outline" placeholder="Select Title">
                            @for (item of titleList; track item) {
                            <ion-select-option [value]="item.Id">{{item.Name}}</ion-select-option>
                            }
                        </ion-select>
                    </ion-col>
                    <ion-col size="12">
                        <ion-input label="First Name" name="firstname" mode="md" labelPlacement="stacked" fill="outline" [disabled]="!IsPInfoEdit"
                            type="text" placeholder="First Name" [(ngModel)]="sharedService.labCartPatientObj.FirstName"> </ion-input>
                    </ion-col>
                    <ion-col size="6">
                        <ion-input label="Middle Name" name="middleName" placeholder="Middle Name" [disabled]="!IsPInfoEdit"
                            labelPlacement="stacked" fill="outline" type="text" mode="md"
                            [(ngModel)]="sharedService.labCartPatientObj.MiddleName"> </ion-input>
                    </ion-col>
                    <ion-col size="6">
                        <ion-input label="Last Name" name="lastname" mode="md" labelPlacement="stacked" fill="outline" [disabled]="!IsPInfoEdit"
                            type="text" placeholder="Last Name" [(ngModel)]="sharedService.labCartPatientObj.LastName"> </ion-input>
                    </ion-col>

                    <ion-col size="6">
                        <ion-label>Birth Date</ion-label>
                        @if (afterInit()) {
                        <ion-datetime-button datetime="birthdate1" [disabled]="!IsPInfoEdit"></ion-datetime-button>
                        }
                    </ion-col>
                    <ion-col size="6" class="d-flex ">
                        <ion-input label="Year" name="AgeYYY" placeholder="Year" 
                            labelPlacement="stacked" fill="outline" type="text" mode="md" max="150" min="0" maxlength="3" [disabled]="!IsPInfoEdit"
                            [(ngModel)]="sharedService.labCartPatientObj.AgeYYY" > </ion-input>
                        <ion-input label="Month" name="AgeMM" placeholder="Month"
                            labelPlacement="stacked" fill="outline" type="text" mode="md" max="12" min="0" maxlength="2" [disabled]="!IsPInfoEdit"
                            [(ngModel)]="sharedService.labCartPatientObj.AgeMM"> </ion-input>
                        <ion-input label="Days" name="AgeDD" placeholder="Days"
                            labelPlacement="stacked" fill="outline" type="text" mode="md"  max="31" min="0" maxlength="2" [disabled]="!IsPInfoEdit"
                            [(ngModel)]="sharedService.labCartPatientObj.AgeDD"> </ion-input>
                    </ion-col>
                    <ion-col size="12">
                        <ion-select name="gender" [(ngModel)]="sharedService.labCartPatientObj.Gender" required="true" [disabled]="!IsPInfoEdit"
                        interface="modal" mode="md"  labelPlacement="stacked"
                        fill="outline" placeholder="Select Gender">
                        @for (item of genderList; track item) {
                        <ion-select-option [value]="item.Id">{{item.Name}}</ion-select-option>
                        }
                    </ion-select>
                    </ion-col>
                    <ion-col size="12">
                        <ion-input label="EmailId" name="emailid" mode="md" labelPlacement="stacked" fill="outline" [disabled]="!IsPInfoEdit"
                        type="email" placeholder="EmailId" [(ngModel)]="sharedService.labCartPatientObj.EmailId"> </ion-input>
                    </ion-col>
                    <ion-col size="12">
                        <ion-input label="Mobile No" name="mobileNo" mode="md" labelPlacement="stacked" fill="outline"
                            type="text" placeholder="Mobile No" [(ngModel)]="sharedService.labCartPatientObj.Mobile"> </ion-input>
                    </ion-col>
                   
                    <ion-col size="6">
                        <ion-button fill="outline" expand="block" [size]="'medium'"  (click)="onMemberCancel()">
                         Cancel
                          </ion-button>
                    </ion-col>
                    <ion-col size="6">
                        <ion-button fill="solid" expand="block" [size]="'medium'" color="primary" (click)="onSaveClick()">
                             Save changes
                          </ion-button>
                    </ion-col>
                    }
                    @else{
                        <ion-col size="12">
                            <div class="text-gray-600 font-600">Full Name</div>
                            <div class="text-sm">{{ sharedService.labCartPatientObj.PatientName }}</div>
                        </ion-col>
                        @if(sharedService.labCartPatientObj.GenderName){
                        <ion-col size="12">
                           <div class="text-gray-600 font-600">Gender</div>
                            <div class="text-sm">{{ sharedService.labCartPatientObj.GenderName }}</div>
                        </ion-col>
                        }
                        @if(sharedService.labCartPatientObj.AgeString){
                        <ion-col size="12">
                           <div class="text-gray-600 font-600">Age</div>
                            <div class="text-sm">{{ sharedService.labCartPatientObj.AgeString }}</div>
                        </ion-col>
                        }
                        @if(sharedService.labCartPatientObj.EmailId){
                        <ion-col size="12">
                            <div class="text-gray-600 font-600">Email Id</div>
                            <div class="text-sm">{{ sharedService.labCartPatientObj.EmailId }}</div>
                        </ion-col>
                        }
                        @if(sharedService.labCartPatientObj.Mobile){
                        <ion-col size="12">
                            <div class="text-gray-600 font-600">Mobile No</div>
                            <div class="text-sm">{{ sharedService.labCartPatientObj.Mobile }}</div>
                        </ion-col>
                        }
                       
                    }
                </ion-row>

                <ion-modal [keepContentsMounted]="true">
                    <ng-template>
                        <ion-datetime id="birthdate1" presentation="date" [showDefaultButtons]="true" (ionChange)="onBirthdateChange()"
                            [max]="searchMaxDate" [formatOptions]="customFormatOptions" name="birthdate1"
                            [(ngModel)]="sharedService.labCartPatientObj.BirthDate" [preferWheel]="true">
                        </ion-datetime>
                    </ng-template>
                </ion-modal>
            </ion-segment-content>
            <ion-segment-content id="members">
                <ion-row class="w-100">
                    <ion-col size="12">
                        <div class="d-flex justify-content-between mb-1">
                            <h2 class="text-xl font-700 text-gray-900">Family members</h2>
                                <ion-button color="primary" size="small" fill="clear" (click)="onAddMemberAddClick()">
                                    <ion-icon name="add-outline" ></ion-icon>
                                </ion-button>
                        </div>
                    </ion-col>

                    @if(this.sharedService.labCartPatientObj.MemberList && this.sharedService.labCartPatientObj.MemberList.length > 1){
                        @for (data of this.sharedService.labCartPatientObj.MemberList; track $index;let i = $index) {
                            @if(data.PatientId != this.sharedService.labCartPatientObj.PatientId){
                            <div class="card border-card p-3 w-100">
                                <div class="d-flex justify-content-between align-items-center title-row">
                                    <h6 class="font-600 text-gray-700">{{ data.PatientName }}</h6>
                                    <div class="p-0" >
                                        <ion-button color="primary" size="small" fill="clear" (click)="onAddMemberAddClick(data)">
                                            <ion-icon slot="icon-only" name="pencil-outline" ></ion-icon>
                                        </ion-button>
                                       
                                            <ion-button color="danger" size="small" fill="clear" (click)="onDeleteMemberClick(data)">
                                                <ion-icon slot="icon-only" name="trash-outline" ></ion-icon>
                                            </ion-button>
                                   
                                    </div>
                                </div>
                            
                                <div class="d-flex mb-1 align-items-center">
                                    <ion-icon name="card-outline" class="text-blue-900"></ion-icon>
                                    <p class="text-sm ms-1 text-blue-900 m-0">{{ data.MembershipId }}</p>
                                </div>
                                <div class="d-flex justify-content-start text-sm text-gray-500 font-500">
                                      <p class="mb-0">Relation : </p>
                                    <p class="ps-1 mb-0">{{ data.Relation }}</p>
                                </div>
                                @if(data.GenderName) {
                                    <div class="d-flex justify-content-start text-sm text-gray-500 font-500">
                                        <p class="mb-0">Gender : </p>
                                        <p class="ps-1 mb-0">{{ data.GenderName }}</p>
                                    </div>
                                }
                                @if(data.AgeString) {
                                    <div class="d-flex justify-content-start text-sm text-gray-500 font-500">
                                        <p class="mb-0">Age : </p>
                                        <p class="ps-1 mb-0">{{ data.AgeString }}</p>
                                    </div>
                                }
                                 @if (data.EmailId) {
                                    <div class="d-flex justify-content-start text-sm text-gray-500 font-500">
                                        <p class="mb-0">Email Id : </p>
                                        <p class="ps-1 mb-0">{{ data.EmailId }}</p>
                                    </div>
                                }
                                @if (data.Mobile) {
                                    <div class="d-flex justify-content-start text-sm text-gray-500 font-500">
                                        <p class="mb-0">Mobile No : </p>
                                        <p class="ps-1 mb-0">{{ data.Mobile }}</p>
                                    </div>
                                }
                            </div>
                            }
                           
                        }
                    }@else{
                        <div class="text-center py-20 text-gray-500 w-100">
                            <div class="mx-auto mb-4">
                                <ion-icon name="people-outline" class="font-500 icon-big"></ion-icon>

                            </div>
                            <p class="text-base font-600">No family members added yet</p>
                            <p class="text-sm mt-2 font-500">Add family members to book tests for them</p>
                        </div>
                    }
               </ion-row>
            </ion-segment-content>
            <ion-segment-content id="address">
                <ion-row class="w-100">
                    <ion-col size="12">
                        <div class="d-flex justify-content-between mb-1">
                            <h2 class="text-xl font-700 text-gray-900">Family Addresses</h2>
                                <ion-button color="primary"  size="small" fill="clear" (click)="onAddressAddClick()">
                                    <ion-icon name="add-outline" ></ion-icon>
                                </ion-button>
                        </div>
                    </ion-col>

                    @if(this.sharedService.labCartPatientObj.MemberAddressList && this.sharedService.labCartPatientObj.MemberAddressList.length > 0){
                        @for (data of this.sharedService.labCartPatientObj.MemberAddressList; track $index;let i = $index) {
                            <div class="card border-card p-3 w-100">
                                <div class="d-flex justify-content-between align-items-center title-row">
                                    <div class="d-flex align-items-center">
                                        <ion-icon color="primary" name="location-outline"></ion-icon>
                                        <span class="font-600 text-gray-700 ms-1 ">{{ data.Address }}</span>
                                    </div>
                                    <div class="p-0" >
                                        <ion-button color="primary" size="small" fill="clear" (click)="onAddressAddClick(data)">
                                            <ion-icon slot="icon-only" name="pencil-outline" ></ion-icon>
                                        </ion-button>
                                        <ion-button color="danger" size="small" fill="clear" (click)="onDeleteAddress(data)">
                                            <ion-icon slot="icon-only" name="trash-outline" ></ion-icon>
                                        </ion-button>
                                    </div>
                                </div>
                                @if(data.AreaName){
                                    <div class="d-flex justify-content-start text-sm text-gray-500 font-500">
                                        <p class="mb-0">Area: </p>
                                        <p class="ps-1 mb-0">{{ data.AreaName }}</p>
                                    </div>
                                }
                                @if(data.CityName){
                                    <div class="d-flex justify-content-start text-sm text-gray-500 font-500">
                                        <p class="mb-0">City: </p>
                                        <p class="ps-1 mb-0">{{ data.CityName }}</p>
                                    </div>
                                }
                            </div>
                        }
                    }@else{
                        <div class="text-center py-20 text-gray-500 w-100 ">
                            <div class="mx-auto mb-4">
                                <ion-icon name="location-outline" class="font-500 icon-big"></ion-icon>

                            </div>
                            <p class="text-base font-600 ">No addresses saved yet</p>
                            <p class="text-sm mt-2 font-500">Add an address for order delivery</p>
                        </div>
                    }
               </ion-row>
           

             
            </ion-segment-content>
            <ion-segment-content id="security">
                <ion-row>
                    <ion-col size="12">
                        <div class="d-flex justify-content-between mb-3">
                            @if(isPasswordAvailable){
                            <h2 class="text-xl font-700 text-gray-900">
                                Change Password
                                
                            </h2>
                        }@else {
                            <h2 class="text-xl font-700 text-gray-900">
                                Set Password
                                
                            </h2>
                           
                        }
                        </div>
                    </ion-col>
                    @if(isPasswordAvailable){
                        <ion-col size="12">
                            <ion-input label="Current Password" name="password" mode="md" labelPlacement="stacked" fill="outline"
                                type="text" placeholder=" " [(ngModel)]="changePasswordObj.CurrentPassword"> </ion-input>
                        </ion-col>
                    }
                    <ion-col size="12">
                        <ion-input label="New Password" name="password" mode="md" labelPlacement="stacked" fill="outline"
                            type="text" placeholder=" " helperText="Password must be at least 6 characters long" [(ngModel)]="changePasswordObj.NewPassword"> </ion-input>
                    </ion-col>
                    <ion-col size="12">
                        <ion-input label="Confirm Password" name="password" mode="md" labelPlacement="stacked" fill="outline"
                            type="text" placeholder=" " [(ngModel)]="changePasswordObj.ConfirmPassword"> </ion-input>
                    </ion-col>
                    <ion-col size="6">
                        <ion-button fill="outline" expand="block" [size]="'medium'"  (click)="onchangePasswordCancel()">
                         Cancel
                          </ion-button>
                    </ion-col>
                    <ion-col size="6">
                        <ion-button fill="solid" expand="block" [size]="'medium'" color="primary" (click)="onChangePasswordFormSubmit()">
                             Save changes
                          </ion-button>
                    </ion-col>
               </ion-row>
            </ion-segment-content>

        </ion-segment-view>
    </div>

    <!-- Family Members -->
    <ion-modal [initialBreakpoint]="1" [breakpoints]="[0, 1]" #FamilyMemberModal>
        <ng-template>
        <ion-row class="p-2 filter-modal">
            <ion-col size="12" class="m-1">
                <h3 class="text-xl text-gray-900 font-700">
                @if(this.labCartMemberObj.PatientId > 0){
                    Edit 
                }
                @else {
                    Add 
                }
                Family Member</h3>
            </ion-col>
            <ion-col size="12">
                <ion-select name="memberTitle" [(ngModel)]="labCartMemberObj.TitleId" required="true"
                    interface="modal" mode="md" labelPlacement="stacked"
                    fill="outline" placeholder="Select Title">
                    @for (item of titleList; track item) {
                        <ion-select-option [value]="item.Id">{{item.Name}}</ion-select-option>
                    }
                </ion-select>
            </ion-col>
            <ion-col size="12">
                <ion-input label="First Name" name="memberFirstName" mode="md" labelPlacement="stacked" fill="outline" required="true"
                    type="text" placeholder="First Name" [(ngModel)]="labCartMemberObj.FirstName"> </ion-input>
            </ion-col>
            <ion-col size="6">
                <ion-input label="Middel Name" name="memberMiddelName" mode="md" labelPlacement="stacked" fill="outline"
                    type="text" placeholder="Middel Name" [(ngModel)]="labCartMemberObj.MiddleName"> </ion-input>
            </ion-col>
            <ion-col size="6">
                <ion-input label="Last Name" name="memberLastName" mode="md" labelPlacement="stacked" fill="outline" required="true"
                    type="text" placeholder="Last Name" [(ngModel)]="labCartMemberObj.LastName"> </ion-input>
            </ion-col>
            <ion-col size="12">
                <ion-select name="memberRelation" [(ngModel)]="labCartMemberObj.Relation" required="true" 
                    interface="modal" mode="md"  labelPlacement="stacked"
                    fill="outline" placeholder="Select Relation">
                    @for (item of relationList; track item) {
                        <ion-select-option [value]="item.Id">{{item.Name}}</ion-select-option>
                    }
                </ion-select>
            </ion-col>
            <ion-col size="6">
                <ion-label>Birth Date</ion-label>
                @if (afterInit()) {
                    <ion-datetime-button datetime="memberbirthdate"></ion-datetime-button>
                }
            </ion-col>
            <ion-col size="6" class="d-flex ">
                <ion-input label="Year" name="memberAgeYYY" placeholder="Year" 
                    labelPlacement="stacked" fill="outline" type="text" mode="md" max="150" min="0" maxlength="3"
                    [(ngModel)]="labCartMemberObj.AgeYYY" > </ion-input>
                <ion-input label="Month" name="memberAgeMM" placeholder="Month"
                    labelPlacement="stacked" fill="outline" type="text" mode="md" max="12" min="0" maxlength="2"
                    [(ngModel)]="labCartMemberObj.AgeMM"> </ion-input>
                <ion-input label="Days" name="memberAgeDD" placeholder="Days"
                    labelPlacement="stacked" fill="outline" type="text" mode="md"  max="31" min="0" maxlength="2" 
                    [(ngModel)]="labCartMemberObj.AgeDD"> </ion-input>
            </ion-col>
            <ion-col size="12">
                <ion-select name="memberGender" [(ngModel)]="labCartMemberObj.Gender" required="true" 
                interface="modal" mode="md"  labelPlacement="stacked"
                fill="outline" placeholder="Select Gender">
                @for (item of genderList; track item) {
                    <ion-select-option [value]="item.Id">{{item.Name}}</ion-select-option>
                }
            </ion-select>
            </ion-col>
            <ion-col size="12">
                <ion-input label="Email Id" name="memberEmailid" mode="md" labelPlacement="stacked" fill="outline"
                type="email" placeholder="Email Id" [(ngModel)]="labCartMemberObj.EmailId"> </ion-input>
            </ion-col>
            <ion-col size="12">
                <ion-input label="Mobile No" name="memberMobileNo" mode="md" labelPlacement="stacked" fill="outline"
                type="text" placeholder="Mobile No" [(ngModel)]="labCartMemberObj.Mobile"> </ion-input>
            </ion-col>
            <ion-col size="6">
            <ion-button fill="outline" expand="block" [size]="'medium'" (click)="onFamilyMemberCancel()">
                Cancel
            </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button fill="solid" expand="block" [size]="'medium'" color="primary" (click)="onMemberSaveClick()">
                    Save Member
                </ion-button>
            </ion-col>
        </ion-row>
         <ion-modal [keepContentsMounted]="true">
            <ng-template>
                <ion-datetime id="memberbirthdate" presentation="date" [showDefaultButtons]="true" (ionChange)="onMemberBirthdateChange()"
                    [max]="searchMaxDate" [formatOptions]="customFormatOptions" name="memberbirthdate"
                    [(ngModel)]="labCartMemberObj.BirthDate" [preferWheel]="true">
                </ion-datetime>
            </ng-template>
        </ion-modal>
        </ng-template>
    </ion-modal>
    <!-- Family Members -->
    
    <!-- Family Addresses -->
    <ion-modal [initialBreakpoint]="1" [breakpoints]="[0, 1]" #FamilyAddressesModal>
        <ng-template>
            <ion-row class="p-2 filter-modal">
                <ion-col size="12" class="m-1">
                    <h3 class="text-xl text-gray-900 font-700">
                    @if(this.labCartMemberAddressObj.MemberAddressId > 0){
                        Edit 
                    }
                    @else {
                        Add 
                    }
                    Address</h3>
                </ion-col>
                <ion-col size="12">
                    <ion-textarea label="Member Address" name="memberAddress" mode="md" labelPlacement="stacked" fill="outline"
                    rows="3"
                            type="text" placeholder="Enter Address" [(ngModel)]="labCartMemberAddressObj.Address"> </ion-textarea>
                </ion-col>
                <ion-col size="12">
                    <ion-select name="memberCity" [(ngModel)]="labCartMemberAddressObj.CityId" required="true"
                        interface="modal" mode="md" (ionChange)="onCityChange()" labelPlacement="stacked"
                        fill="outline" placeholder="Select City">
                        @for (item of cityList; track item) {
                            <ion-select-option [value]="item.Id">{{item.Name}}</ion-select-option>
                        }
                    </ion-select>
                </ion-col>
                <ion-col size="12">
                    <ion-select name="memberArea" [(ngModel)]="labCartMemberAddressObj.AreaId" required="true"
                        interface="modal" mode="md" labelPlacement="stacked"
                        fill="outline" placeholder="Select Area">
                        @for (item of filterAreaList; track item) {
                            <ion-select-option [value]="item.Id">{{item.Name}}</ion-select-option>
                        }
                    </ion-select>
                </ion-col>
                <ion-col size="5">
                    <ion-input label="Latitude" name="latitute" placeholder="latitute" [disabled]="!IsPInfoEdit"
                    labelPlacement="stacked" fill="outline" type="text" mode="md"
                    [(ngModel)]="labCartMemberAddressObj.Latitude"> </ion-input>
                </ion-col>
                <ion-col size="5">
                    <ion-input label="Longitude" name="longitude" placeholder="longitude" [disabled]="!IsPInfoEdit"
                    labelPlacement="stacked" fill="outline" type="text" mode="md"
                    [(ngModel)]="labCartMemberAddressObj.Longitude"> </ion-input>
                </ion-col>
                <ion-col size="2">
                    <ion-button  fill="outline" [size]="'medium'"  color="medium" (click)="onMapIconClick()">
                        <ion-icon  name="location" color="medium" ></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button fill="outline" expand="block" [size]="'medium'" (click)="onAddressCancel()">
                        Cancel
                    </ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button fill="solid" expand="block" [size]="'medium'" color="primary" (click)="onAddressSaveClick()">
                        Save Address
                    </ion-button>
                </ion-col>
            </ion-row>
            <app-map-modal [maptitle]="'Select Your Address'"  (MarkerSelectedEmit)="onMapSelectedEvent($event)"  #appModalPage></app-map-modal>
        </ng-template>
    </ion-modal>

</ion-content>