svg{
    position: relative;
    top: 25%;
    left: 25%;
}

ion-segment-content {
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 15px;
  }


.filter-modal {
  width: 100%;
  display: flex;
  align-items: center;
  ion-input {
    --color: rgb(78, 78, 78);
    font-weight: 400;
  }
}

ion-modal {
  &:has(.filter-modal) {
    --height: auto;
    margin-bottom: var(--ion-safe-area-bottom);
  }
}

ion-segment::part(scroll)::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
ion-segment::part(scroll) {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}