svg{
    position: relative;
    top: 25%;
    left: 25%;
}

ion-segment-content {
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 15px;
  }
.icon-big{
    height: 50px;
    width: 50px;
}