<ion-header collapse="fade">
    <ion-toolbar>
      <ion-title> </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
    <ion-header collapse="condense">
        <ion-toolbar>
        
            <ion-buttons>
                <ion-button fill="clear" (click)="onbackClick()" color="medium">
    
                    <ion-icon slot="start" name="chevron-back-outline"></ion-icon><span> Back</span>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
      </ion-header>





<ion-row class="ion-padding gap-4">
    <ion-col size="12">
        <h1 class="text-4xl text-primary font-600 mt-4"> Sign In </h1>
        <p class="text-gray-600 mt-2 font-600">Please Log in into your Lims Account</p>
    </ion-col>
    <ion-col size="12">
        <ion-input label="Mobile" labelPlacement="stacked" fill="outline" inputmode="tel" id="input1" name="userid"
            mode="md" pattern="tel" [(ngModel)]="loginObj.UserId" placeholder="Mobile" required="true" type="tel"
            maxlength="10" minlength="10">
        </ion-input>
    </ion-col>
    @if(!isLoginWithOTP){
        <ion-col size="12">
            <ion-input label="Password" labelPlacement="stacked" fill="outline" inputmode="text" id="input1" name="password"
                mode="md"  [(ngModel)]="loginObj.Password" placeholder="Password" required="true" type="password"
                maxlength="15" minlength="3">
                <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
        </ion-col>
        <ion-col size="12">
            <ion-button color="primary" fill="clear" size="small" class="float-start" (click)="onSingUpbtnClick()"><span class="text-base font-500">Sign Up</span></ion-button>
            <ion-button color="warning" fill="clear" size="small" class="float-end"><span class="text-base font-500">Forgot Password</span></ion-button>
            <ion-button expand="block" (click)="onLoginbtnClick()" >Sign In</ion-button>
        </ion-col >
    }
    @else {

        @if(!isLoginOTPSend){
            <ion-col size="12">
                <ion-button expand="block" (click)="onLoginSendOTPClick()">Send OTP</ion-button>
            </ion-col >
        }
        @else {
            <ion-col size="12">
                <ion-input-otp length="6"  pattern="[0-9]" type="text" [(ngModel)]="loginObj.OTP"  name="otp" fill="outline" inputmode="numeric" > 
               
                    Didn't get a code? <a (click)="onLoginSendOTPClick()" [class.disabled]="isDisableResendbtn">Resend the code</a> 
               
                </ion-input-otp>
            </ion-col>

            <ion-col size="12">
                <ion-button expand="block" (click)="onLoginWithOTP()">Verify And Proceed</ion-button>
            </ion-col >
        }
    }
    <ion-col size="12" class="mt-4">
        @if(!isLoginWithOTP){
            <ion-button color="success" fill="outline" expand="block" class="text-center" (click)="onToggleLoginType(true);"><span class="text-base">Login With OTP</span></ion-button>
        }
        @else {
            <ion-button color="success" fill="outline" expand="block" class="text-center" (click)="onToggleLoginType(false);"><span class="text-base">Login With Password</span></ion-button>
        }
    </ion-col>

</ion-row>
</ion-content>
