<ion-content class="ion-padding">
  <swiper-container centered-slides="true" space-between="30"  slides-per-view="auto" pagination="true"  autoplay="true"
  pauseOnMouseEnter="true"
  speed="500" loop="true">
    @for (item of courselList; track $index) {
      <swiper-slide >
        <div class="slider-conatiner">
          <div class="slider-card" [style.background-image]="'url(\'data:image/jpeg;base64,' + item.image + '\')'">
            <div class="text-overlay">
              <h3 class="font-800">{{item.heading}}</h3>
              <p class="font-600 text-xs m-0 mt-1">{{item.subheading}}</p>
            </div>
          </div>
        </div>
      </swiper-slide>
    }
  </swiper-container>

<app-packages [isShowViewMore]="true"  (packageViewAllClick)="onPackagesViewClick()"></app-packages>

<app-organ [IsCompactView]="true"  (organViewAllClick)="onOrganViewAllClick()" (organClickemit)="onOrganViewAllClick($event)"></app-organ>

<app-disease [IsCompactView]="true"  (diseaseViewAllClick)="onDiseaseViewAllClick()" (diseaseClickemit)="onDiseaseViewAllClick($event)"></app-disease>

<div class="d-flex flex-column  flex-md-row gap-2 mt-3">
  <div class="bg-blue-50 p-2 rounded-3 ">
    <h5 class="font-700 text-gray-700 d-flex align-items-center gap-2 mb-2 mt-3">
      <ion-icon name="earth-outline" class="text-blue-600"></ion-icon>
      Wide Networks
    </h5>
    <p class="font-500 text-gray-500 text-xs"> Access to 500+ diagnostic centers across the country</p>
  </div>
  <div class="bg-green-50 p-2 rounded-3 ">
    <h5 class="font-700 text-gray-700 d-flex align-items-center gap-2 mb-2 mt-3">
      <ion-icon name="earth-outline" class="text-green-600"></ion-icon>
      Fast Results
    </h5>
    <p class="font-500 text-gray-500 text-xs"> Get your reports within 24-48 hours digitally</p>
  </div>
  <div class="bg-purple-50 p-2 rounded-3 ">
    <h5 class="font-700 text-gray-700 d-flex align-items-center gap-2 mb-2 mt-3">
      <ion-icon name="earth-outline" class="text-purple-600"></ion-icon>
      Best Prices
    </h5>
    <p class="font-500 text-gray-500 text-xs"> Competitive pricing with no hidden charges</p>
  </div>
</div>

</ion-content>
