.slider-conatiner{
    width: auto; /* Adjust width as needed */
    height: 35dvh; /* Adjust height as needed */
    margin-right: 10px;
   
}
.slider-card {
    position: relative;
    width: auto; /* Adjust width as needed */
    height: 35dvh; /* Adjust height as needed */
    background-size: cover;
    background-position: center;
    border-radius: 12px; /* Rounded corners as in the image */
    overflow: hidden; /* Ensures text overlay respects rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    color: white;
    /* Optional: Add a subtle gradient or background for better readability on varied image areas */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.text-overlay h1 {
    margin: 0 0 10px 0; /* Adjust margin for heading */

}

.text-overlay p {
    opacity: 0.8;
}

.dash-btn{
    height: 120px;
    aspect-ratio: 1 / 1;
    transition: all 0.35s;

    &:hover {
        transform: scale();
        .overlay{
            width:100%;
            height:100%;
            position:absolute;top:0;left: 0;
            background-color:#000;
            opacity:0.03;
            border-radius:inherit;
        }
    }
}

.package-card{
  
    .package-card-img{
        width: 100%;
        height: calc(0.25rem*48);
        overflow: hidden;
        transition: scale;
        transition-duration: 300ms;
        position: relative;
        &:hover{
            scale : 105% 105%;

        }
    }
}

.container-h-scoll {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Keep content in a single line */
    
    /* Hide scrollbar for Chrome, Safari, and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    
    /* Hide scrollbar for IE, Edge, and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
