// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
    --ion-card-background : var(--bs-body-bg);
    --ion-custom-safe-area-top: 0px;
    --ion-custom-safe-area-bottom: 0px;
    --safe-area-inset-top : 0px
    --safe-area-inset-bottom : 0px;
    --ion-padding : 12px;
    --ion-margin : 12px;
  }
  