/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

 @use "sass:color";
 @use "sass:list"; 
 @use "sass:math"; 
 @use "sass:map";
 
 @import "bootstrap/dist/css/bootstrap.min.css";
/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";



/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
//@import "@ionic/angular/css/palettes/dark.system.css";

@import "theme/custom-var";
@import  "theme/variables";


h1, h2, h3, h4, h5, h6
{
    margin-top: 0px;
    margin-bottom: 0px;
}

img, svg, video, canvas, audio, iframe, embed, object {
    vertical-align: middle;
}

a {
    text-decoration: none !important;
    color: inherit;
    &:hover{
        color: inherit;
    }
  }

  .border-card {
    background-color: white;
    border: 1px solid #ebe6e7;
    border-radius: 0.625rem;
    margin-bottom: 0.75rem;
    .card-border-bottom {
      border-bottom: 1px solid #ebe6e7;
    }

        ion-accordion-group,.accordion-group-expand-compact{
          padding: 12px;
        }
        .btn-card-bottom{
          border-top:  1px solid #ebe6e7;
          .btn-border-r{
            border-right:  1px solid #ebe6e7;
          }
          .btn{
            color: #155dfc !important;
            font-weight: 600;
          }
          .btn:hover {
            background-color: #eff6ff;
          }
        }

  }


  .container-h-scoll {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Keep content in a single line */
    
    /* Hide scrollbar for Chrome, Safari, and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    
    /* Hide scrollbar for IE, Edge, and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

    .overlay-common{
            width:100%;
            height:100%;
            position:absolute;top:0;left: 0;
            background-color:#000;
            opacity:0.03;
            border-radius:inherit;
        }


  .dash-btn.Selected:not(:hover){
      border: 1px solid currentColor;
     
  }

  .dash-btn{
    height: 120px;
    aspect-ratio: 1 / 1;
    transition: all 0.35s;

    &:hover {
        transform: scale();
        .overlay{
              width:100%;
            height:100%;
            position:absolute;top:0;left: 0;
            background-color:#000;
            opacity:0.03;
            border-radius:inherit;
        }
    };
}


.package-card{
  
    .package-card-img{
        width: 100%;
        height: calc(0.25rem*48);
        overflow: hidden;
        transition: scale;
        transition-duration: 300ms;
        position: relative;
        &:hover{
            scale : 105% 105%;

        }
    }
}

.icon-big{
    height: 50px;
    width: 50px;
}

.disabledDiv{
  pointer-events: none;
  opacity: 0.8;
}